/* same style elements common in the pages */

body {
  font-family: sans-serif;  
  background-color: #ffffff;  
  color: #000000;  
  margin: 0;
  padding: 2rem;
  line-height: 1.5; 
}

#nav {
  background-color: #c0c0c0;
  overflow: hidden;  
  padding: 1rem 0;    
  text-align: center;  
}

#nav li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;  
}

#nav li a {
  text-decoration: none; 
  color: #000000; 
  transition: color 0.3s;
  font-weight: bold;
}

#nav li a:hover {
  color: blue;  
}

.video iframe {
  width: 100%;
  max-width: 20rem;  
  height: 15rem;   
  display: block;
  border: none;
}

/* style elements for index page */

#index h1, #index h2, #info {
  font-family: 'Dancing Script', cursive;
}